:root {
  --darkgreen: hsl(66, 40.2%, 34.1%); // #737a34
  --darkgreen80: hsla(66, 40%, 34%, 0.8); // #737a34cc - rgba 115, 122, 52, 0.8
  --darkblue: hsl(203, 30.4%, 26.5%); //#2f4858
  --mediumblue: hsl(191, 53%, 25%); // #1e5561
  --green: hsl(179, 70.4%, 22.5%); // #116260
  --blue: hsl(201, 64.4%, 73.5%); // #90c8e7
  --lightgreen: hsl(64, 31%, 53%); // #a7ac62
  --lightergreen: hsl(88, 34.5%, 67.1%); // #adc88e
  --lightblue: hsl(188, 100.0%, 89.2%); // #c8f8ff
  --darkred: hsl(358, 46.6%, 53.7%); // #c05256
  --black: hsl(0, 0%, 6.3%); // 101010
  --darkgrey: hsl(0, 0%, 25.1%); // 404040
  --grey: hsl(0, 0%, 50.2%); // 808080
  --lightgreey: hsl(0, 0%, 82.7%); // #d3d3d3
  --white: hsl(0, 0%, 100%); // #ffffff
  
}