@use '../util' as *;

h1, 
h2, 
h3, 
h4, 
h5 {
  font-family: var(--font-heading);
  font-weight: 400;
  margin-top: 0;
}

h1 {
  color: var(--darkgreen);
  font-size: rem(56);
  margin-top: rem(35);

  @include breakpoint-down(small) {
    font-size: rem(42);
  }
}

h2 {
  color: var(--darkgreen);
  font-size: rem(48);
  margin-top: rem(36);
}

h3 {
  color: var(--darkgreen);
  font-size: rem(40);
  margin-top: rem(20);

  @include breakpoint-down(small) {
    font-size: rem(30);
  }
}

h5 {
  color: var(--darkgreen);
  font-size: rem(22);
}

p {
  font-family: var(--font-body);
  font-size: rem(16);
  line-height: 1.5;
  margin-top: rem(30);
}

strong {
  font-weight: 700;
  color: var(--darkgreen);
}

.intro {
  font-family: var(--font-body);
  font-size: rem(18);
  line-height: 1.5;
}
